@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* global.css or a similar global stylesheet */
.gutter.gutter-horizontal {
  background-color: #ccc; /* Light grey background */
  cursor: col-resize; /* Show the resize cursor */
}

.gutter.gutter-horizontal:hover {
  background-color: #999; /* Darker grey on hover */
}
